$main-color: #fff;
$sec-color: #99f;
$bg-color: #000;

body {
  background: $bg-color;
}
.wrapper {
  overflow-x: hidden;
}
#header {
  color: #fff;
  display: block;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
#quote-box {
  position: relative;
  height: auto;
  width: 500px;
  max-width: 90%;
  background: $sec-color;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  padding: 5px 10px;
}
#text {
  color: $main-color;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
}
#author {
  color: $main-color;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row-reverse;
}
.buttons {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
#tweet-quote a:visited,
a {
  text-decoration: none;
  color: $sec-color;
}
.button {
  background: $main-color;
  border-radius: 8px;
  color: $sec-color;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  margin-top: 20px;
  margin-right: 20px;
}
.button:hover,
a:hover {
  background: $sec-color;
  color: $main-color;
}
footer {
  color: $bg-color;
  background-color: $main-color;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.content {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 10px 0;
}
